.new-question-container {
  margin: 0 auto;
  width: 40%;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #BFBFBF;
  box-shadow: 2px 3px 1px #adb0b1;
}

.new-header {
  background-color: #343b3e;
  padding: 20px;
  color: white;
  border-radius: 4px 4px 0 0;
}

.WYR-header {
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 28px;
}

.new-question {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "logo navlink profile" */
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.input-box,
.input-box-option {
  font-family: 'Open Sans', sans-serif;
  height: 20px;
  width: 70%;
  font-size: 18px;
}

.error-text {
  color: red;
  font-family: 'Open Sans', sans-serif;
}

.submit-button {
  background-color: #477282;
  padding: 10px 20px;
  width: 40%;
  color: white;
  margin: 10px auto;
  border-radius: 5px;
  transition: ease 0.4s;
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: 'Muli', sans-serif;
}

.submit-button:hover {
  background-color: #59808e;
  cursor: pointer;
}

.new-hr {
  width: 70%
}
